SUI_NETWORK=testnet
SUI_TESTNET_RPC_URL=https://fullnode.testnet.sui.io:443
SUI_GAS_BUDGET=100000000
SUI_PACKAGE_ID=
SUI_CONFIG_ID=
SUI_FEE_COLLECTOR=
SUI_PAYOUT_OPERATOR=
SUI_NATIVE_FEE_BPS=50
SUI_MAX_FEE_BPS=2500
SUI_AUTO_RELEASE_DELAY_MS=900000
